.todolist {
  color: #fff;
  background-color: #1f1f1f;
  margin: 2rem auto;
}

.todolist ul {
  width: 100%;
  padding: 0;

  list-style: none;
}

.todolist li {
  background-color: goldenrod;
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}

.todolist .complete {
  background-color: darkgreen;
}
.todolist .complete .descTxt {
  background-color: #ccc;
}

.todolist .empty {
  justify-content: center;
  color: #1f1f1f;
  font-weight: 600;
}

.dateCard {
  height: 5rem;
  width: 5rem;
  background-color: #1f1f1f;
  padding: 1rem;
}

.dateCard span {
  display: block;
  width: 100%;
  text-align: center;
}

.descTxt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  background-color: #ccc;

  border-radius: 0 1rem 1rem 0;
}

.txtData {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1f1f;
  padding: 0 0.5rem;

  word-wrap: break-word;
  max-height: 4rem;
  overflow: hidden;
}

.todolist .menu {
  background-color: #1f1f1f;
  height: 5rem;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  min-width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menu li {
  background-color: #1f1f1f;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.menu li:hover {
  color: #999;
}
/* 
.todolist button {
  height: 4rem;
  width: 4rem;
} */
